* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  margin: 2rem;
}

header {
  margin: 2rem 0 0 2rem;
  font-size: 2rem;
}

main,
form,
#scores-title,
#add-score,
#submit-container {
  display: flex;
}

main {
  border: 1px solid black;
  justify-content: space-evenly;
  margin: 4rem 0 0 0;
  padding: 3rem 1rem;
  background-color: rgb(242, 242, 242);
  box-shadow: 0.5rem 0.5rem 10rem 1rem rgb(0, 0, 0);
}

#recent-scores {
  min-width: 22rem;
}

#scores-title {
  font-size: 1.5rem;
  justify-content: space-between;
}

#scores {
  padding: 0.2rem;
  border: 2px solid black;
  margin: 2rem 0 0 0;
}

#add-score h2 {
  font-size: 2rem;
}

form,
#add-score {
  flex-direction: column;
}

input {
  margin: 2rem 0 0 0;
}

.names,
.names2 {
  font-size: 1.5rem;
}

.names2 {
  background-color: hsl(0, 0%, 86%);
}

#submit-container {
  justify-content: flex-end;
}

.x {
  cursor: pointer;
}

.x:hover {
  color: hsl(0, 100%, 50%);
  font-size: 5rem;
}

#refresh:hover,
#submit:hover {
  color: red;
}

/* className for the trail elements */
.trail {
  position: absolute;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background: rgb(205, 1, 1);
  pointer-events: none;
}
